*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    padding: 3px;
}
.card{
    height: 15em;
    width: 10em;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(0, 208, 255),blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-portion{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.productName{
    font-size: 1.4em;
}
