*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
}
#landscape{
    height: 100vh;
    width: 100%;
    
    background-image: url("Assets/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0em -20em;

}
#shade{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgb(0, 0, 0));
}
#navbar{
    height: 3.5em;
    width: 100%;
    backdrop-filter: blur(5px);
    background: linear-gradient(45deg, rgba(3, 0, 32, 0.4), rgb(22, 0, 21,4));

    display: flex;
    align-items: center;
}

#logo{
    height: 80%;
    aspect-ratio: 1;
    background-image: url("Assets/cube.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation: animateit 1s ease-in-out 3s infinite ;
}

@keyframes animateit{
    from{
        transform: translateY(0em);
    }
    to{
        transform: translateY(4em) rotate(360deg);
    }
}