*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
#app{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(28, 36, 54), rgb(140, 0, 205));
    display: flex;
    justify-content: center;
    align-items: center;
}
.productbox{
    height: 8em;
    min-width: 8em;
    background: linear-gradient(90deg, rgb(0, 255, 179), rgb(59, 59, 106));
    position: relative;
    animation: animateit 2s ease infinite alternate-reverse;

}
@keyframes animateit{
    to{
        transform: translateX(-40vw) rotate(360deg) scale(1.5);
    }
}


