*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 0, 35);
}
.bar{
    width: 100vw;
    height: 0.7in;
    background: linear-gradient(45deg, rgb(123, 0, 0), rgb(0, 0, 116));
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeText{
    background-color: white;
    height: 0.4in;
    min-width: 1in;
    border-radius: 20px;
    font-size: 14px;
}