*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       
}

body{
    background: linear-gradient(45deg, red, blue);
}

.colorful{
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}
.white{
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    place-items: center;
    padding: 10px;
    transition: justify-content 0.5s ease-in-out;
}
.colorful2{
    height: 65vh;
    width: 35vw;
    background-color: black;
    border: 0px;
    border-radius: 20px;
}
.buttons{
    margin-top: 20px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.btn{
    background-color: white;
    height: 0.6in;
    width: 1.7in;
    border: 0px;
    border-radius: 30px;
}
#text{
    font-size: 20px;
    font-weight: 900;
    color: blueviolet;
}
