@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap');
*{
   padding: 0;
   margin: 0; 
}

body{
    background-color: black;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;

}
.left{
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 10px ;
    border-radius: 100px;
    transition: ease-in-out 0.2s;
}
.right{
   padding: 10px 0px 0px 0px;
}

.logo{
    color: white;
    font-size: 17px;
    font-family: Smooch;
}
.left:hover{
    background-color: white;
    .logo{
        color: black;
    }
}

a{  
    /* text and color */
    text-decoration: none;
    color: white;
    /* border settings */
    border-radius: 40px;
    /* fonts */
    font-size: 20px;
    font-weight: 800;
    /* margin and padding */
    padding: 5px 20px;
    margin: 0px 10px 0px 10px;
    /* transition settings */
    background: linear-gradient(to bottom, black 50%, rgb(38, 255, 0) 50%);
    background-position: top;
    background-size: 100% 200%;
    transition: 0.6s ease-in-out;
    overflow: hidden;

}
a:hover{
    background-position: bottom;
}