.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(429px,1fr));
    padding: 2em;
    gap: 1em;
}
.card{
    font-size: clamp(2em, 3vw, 3vw);
    color: black;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 1em;
}