@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Coda:wght@400;800&family=Jersey+15&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Code+Latin:wght@100..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap'); /* Bungee */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Coda:wght@400;800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+15&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Code+Latin:wght@100..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap'); /* IBM Plex Mono */

@keyframes rotateGradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 2, 23);
}

.firstBar{
    display: flex;
    justify-content: center;
}
.heading{
    font-family: "Bungee";
    font-size: clamp(2rem,4vw,4vw);
    background: linear-gradient(45deg, blue, rgb(255, 0, 123));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: rotateGradient 4s infinite;
}
