@keyframes appear{
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

#zetatechdigital-p-tag{
    animation: appear 1.5s ease 0s 1 forwards;
}