@import './animations.css'; 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bungee&family=Coda:wght@400;800&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+15&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=M+PLUS+Code+Latin:wght@100..700&family=Montez&family=Mrs+Saint+Delafield&family=Permanent+Marker&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap');
/* Fira Code */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bungee&family=Coda:wght@400;800&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+15&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=M+PLUS+Code+Latin:wght@100..700&family=Montez&family=Mrs+Saint+Delafield&family=Permanent+Marker&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap');
/* Kode Mono */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Bungee&family=Coda:wght@400;800&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+15&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=M+PLUS+Code+Latin:wght@100..700&family=Montez&family=Mrs+Saint+Delafield&family=Permanent+Marker&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sekuya&family=Smooch&display=swap');
/* Sekuya */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
}
#background{
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 0, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}
#board{
  min-height: 2in;
  width: 4in;
  border-radius: 1em;
  background-color: rgb(4, 0, 48);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}
#board #numbering{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#board #numbering li{
  color: black;
  background-color: white;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  padding: 1em;
  list-style: none;
}
#board #numbering li.active{
  background-color: palevioletred;
}
#board #text{
  color: white;
  text-align: center;
  font-family: 'Fira Code', "Kode Mono", 'Times New Roman', Times, serif;
  font-size: 1em;
}
#buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#buttons button{
  color: white;
  background-color: chocolate;
  padding: 0.5em 1em;
}